.back-top-top-btn{
    display: flex;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    background-color: var(--darkgrey);
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border: 2px solid var(--blue);
    border-radius: 50%;
    margin: 1.2rem;
    cursor: pointer;
    z-index: 100;
    display: none;
    color: var(--blue);
}

.back-top-top-btn:hover{
    background-color: var(--blue);
    color: var(--darkgrey) !important;
    transition: all 0.3s;
}